@model MvcCv.Models.Entity.TBLSOSYALMEDYA

@{
    ViewBag.Title = "SosyalGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2 style="margin:15px;">Sosyal Medya Sayfası</h2>

<form method="post">
    @Html.Label("Sosyal Medya ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya Adı")
    @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya Linki")
    @Html.TextBoxFor(x => x.LINK, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya İkonu")
    @Html.TextBoxFor(x => x.IKON, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Sosyal Medyayı Güncelle</button>
    <br />


